@import url('https://fonts.googleapis.com/css2?family=Orelega+One&display=swap');

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    width: 100%;
    flex-wrap: wrap;
    background: transparent;
    padding-top: 5%;
}

.form{
    position: relative;
    display:flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* colorful */

.outer{
    z-index: 4;
    border-radius: 40px;
    margin-bottom: 12px;
    padding: 8px 10px;
    overflow: hidden;
    filter:blur(3px);
    border: 2px solid linear-gradient(#ff00e0, #ffeb3b, #14ffe9);
    background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0)
}
.blur{
    position: relative;
    background: #16171a;
    padding: 10px 12px;
    border-radius: 40px;
    opacity: 0.9;
    width: 100%;
    height: 100%;
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);
    z-index: 5;
    color: transparent;
    border: 2px solid var(--text-color-primary);

}
.title{
    position: relative;
    z-index: 6;
    filter:blur(-1px);
    font-size: 30px;
    font-weight: 900;
    color: #fff;
    font-family: 'Orelega One', cursive;
    text-shadow:
    0 0 10px var(--text-color-shadow),
   0 0 20px var(--text-color-shadow);
   mix-blend-mode: multiply;
}

.cont{
    position: absolute;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.form{
    position: relative;
    margin-top: 100px;
    background-color: var(--primary-color);
    border-top: 2px solid orange;
    border-bottom: 2px solid orange;
}

.doughnut{
    position: relative;
    margin-top: 200px;
   left: 45%;
    transform: scale(1.8);
    height: 300px;
    width: 300px;
}