


.containernew{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-wrap: wrap;
    background: transparent;
}
.box{
    position: relative;
    width: 400px;
    height:500px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin: 40px; 
    z-index: 1;
    border-radius: 25px 0 25px 0;
    border-top: 10px solid linear-gradient(235deg,#89ff00,#010615, #00bcd4);
}
.boxer{
    position: absolute;
    margin-top:  40px !important;
    margin-left: 5px;
    width: 410px;
    height:510px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background:linear-gradient(235deg,#89ff00,#010615, #00bcd4);;
    margin: 40px; 
    border-radius: 25px 0 25px 0;
}

.blur{
    position: relative;
    background: var(--background-color-box);
    padding: 40px 12px;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    border-radius: 25px 0 25px 0;
    opacity: 0.9;
    width: 100%;
    height: 100%;
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);
    z-index: 5;
    color: var(--text-color-primary);
    border: 2px solid var(--text-color-primary);
}
.label{
    position: relative;
    display: block;
    color: var(--text-color-secondary);
}
.margin{
    width: 100%;
    height: 10px;
}
.h1{
    grid-template-columns: auto;
    display:grid;
    text-align: center;
}
.btn{
    display: block;
    background: none;
    text-align: center;
    width: 100px;
    border: 2px solid #fe9d07;
    margin: 10px auto;
    padding: 8px 3px;
    outline: none;
    border-radius: 50px;
    transition: 0.25s;
    cursor: pointer;
    font-size: 12px;
    font-weight: 800;
    }
    .btn:hover{
        background: #fe9d07;
        color:#333;
      }
@media(max-width: 480px){
    .box{
        width: 400px;
        height: 490px;  
    }
    .boxer{
        margin-top:  50px !important;
        margin-left: 5px;
        width: 410px;
        height:510px;
    }
}
@media(max-width: 450px){
    .boxer{
        margin-top:  50px !important;
        margin-left: 37px;
        width: 375px;
        height:510px;
    }
}
 @media(max-width: 430px){
    .boxer{
        width: 350px !important;
    
    }
}

@media(max-width: 400px){
    .boxer{
        width: 330px !important;
    }
}
@media(max-width: 380px){
    .boxer{
        width: 310px !important;
    }
}
@media(max-width: 360px){
    .boxer{
        width: 290px !important;
        height:500px;
    }
}
@media(max-width: 340px){
    .boxer{
        margin-top:  55px !important;
        width: 270px !important;
        height:500px;
    }
}
    /* }
.box:before{
    content: '';
    position: absolute;
    top: -10px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    z-index: -1;
    border: 2px solid linear-gradient(235deg,#89ff00,#010615, #00bcd4);
}
.box:after{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    z-index: -3;
    filter: blur(40px);
}
.box:nth-child(1):before,
.box:nth-child(1):after{
    background: linear-gradient(235deg,#89ff00,#010615, #00bcd4);
}
.box:nth-child(2):before,
.box:nth-child(2):after{
    background: linear-gradient(235deg,#ff005e,#010615, #fbff00);
}
.box:nth-child(3):before,
.box:nth-child(3):after{
    background: linear-gradient(235deg,#772aff,#010615, #2196F3);
} */

.box .glass{
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
    display: block;
    background: rba(255,255,255,.1);
    pointer-events: none;
}

.box .content{
padding: 20px;
}
.box .content .h2{
    position: relative;
}

.table{
    position: absolute;
    display: block;
    background-color: #89ff00;
    opacity: 0.3;
    z-index: 10 !important;
}









/* 



<body>
<div class="box">
  <div class="glass"></div>
  <div class="content">
             <h2>Glowing Border</h2>
             <p>Lorem ipsum dolor sit amet consectetur,
                  adipisicing elit. Error a voluptatem
                  velit quis cupiditate nesciunt pariatur
                  dolores necessitatibus, doloremque eos, 
                  consequuntur natus saepe ratione inventore 
                  mollitia et blanditiis. Vel, corrupti!</p>
        </div>
   </div>
   <div class="box">
     <div class="glass"></div>
     <div class="content">
                <h2>Glowing Border</h2>
                <p>Lorem ipsum dolor sit amet consectetur,
                     adipisicing elit. Error a voluptatem
                     velit quis cupiditate nesciunt pariatur
                     dolores necessitatibus, doloremque eos, 
                     consequuntur natus saepe ratione inventore 
                     mollitia et blanditiis. Vel, corrupti!</p>
           </div>
      </div>
      <div class="box">
         <div class="glass"></div>
         <div class="content">
                    <h2>Glowing Border</h2>
                    <p>Lorem ipsum dolor sit amet consectetur,
                         adipisicing elit. Error a voluptatem
                         velit quis cupiditate nesciunt pariatur
                         dolores necessitatibus, doloremque eos, 
                         consequuntur natus saepe ratione inventore 
                         mollitia et blanditiis. Vel, corrupti!</p>
               </div>
          </div>
</body> */

/* https://www.youtube.com/watch?v=LYWLE45byXc */