.container{
    top: 10%;
    margin-top: 5%;
    padding: 0;
    width: 100%;
    position: absolute;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.search{
    display: block;
    background: none;
    text-align: center;
    width: 200px;
    border: 2px solid #fe9d07;
    margin: 17px auto;
    padding: 15px 5px;
    outline: none;
    border-radius: 50px;
    transition: 0.25s;
    cursor: pointer;
    font-size: 20px;
    font-weight: 800;
}
.search:hover{
    width: 250px;
    border: 2px solid #379e08;
    color: #379e08;
}
.form_line{
    justify-content: center;
    text-align: center;
    position: relative;
    align-items: center;
    width: 100%;
    height: 130px;
}

.btn{
    display: block;
    background: none;
    text-align: center;
    width: 150px;
    border: 2px solid #fe9d07;
    margin: 17px auto;
    padding: 10px 5px;
    outline: none;
    border-radius: 50px;
    transition: 0.25s;
    cursor: pointer;
    font-size: 20px;
    font-weight: 800;
}
.btn:hover{
    background-color:blueviolet;
    color:#454757;
    border: 2px solid blueviolet;
    transform: scale(1.1);
}

.container .contresult {
    position: relative;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100%;
    display: flex;

}
.container .contresult .result{
    position: relative;
    margin-top: 50px;
    margin-bottom: 30px;
    padding: 50px;
    width: 80%;
    border-radius: 30px;
    box-shadow: 0px -10px 30px 0px darkgrey;
    background: var(--text-color-secondary);
}
.close_search{
    position: absolute;
    top: 0;
    left: 5px;
    cursor: pointer;
    font-weight: 900;
    color: crimson;
}

.title{
    font-size: 20px;
    font-weight: 900;
}