@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Original+Surfer&display=swap');

.container {
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
  
  }
  
  .header {
    position: relative;
    top: 10px !important;
    display: flex;
    display: flex;
    width: 100%;
    height: 50px;
    margin: 0;
    justify-content: center;
    align-items: center;
    overflow: wrap;
  }
  
  .h2{
    position: relative;
    font-size: 2.1em;
    color: var(--background-color);
    font-weight: 800;
    padding: 0 5px 0 40px;
    -webkit-text-stroke: .02em var(--text-color-primary);
    text-shadow:
    0 0 10px var(--text-color-shadow),
   0 0 20px var(--text-color-shadow);
  }
  
  
  .themeSwitcher {
    border: none;
    background-color: transparent;
    color: var(--text-color-secondary);
   position: relative;
    padding: 0 2px 0 2px;
    cursor: pointer;
  }
  .clock{
    position: relative;
    top:  -20px;
    padding: 5px 10px 0 5px;
    margin-left: 8px;
  }
  .logo{
    position: absolute;
    height: 40px;
    width: 40px;
  }
 
  
  
  @media(max-width: 1000px){
    .Navi{
      padding-top: 7% !important;
      width: 70%;
    }
  }
  @media(max-width: 800px){
    .Navi{
      padding-top: 10% !important;
      width: 60%;
      flex-wrap: wrap;
    }
    .link{
      padding-top: 18px !important;
      z-index: 10;
    }
  }
  @media(max-width: 715px){
    .header{
      top: 16px;
    }
    .Navi{
      padding-top: 10% !important;
      text-align: center;
      align-items: center;
    }
    #link1{
      position: absolute;
      top: -2px;
      left: 50px;
    
    }
    #link2{
      position: absolute;
      top: -2px;
    
    }
    #link3{
      position: absolute;
      top: -2px;
      right: 35px;
   
    }
  }
  @media(max-width: 570px){

    .topborder{
      height:30px;
      width: 100%;
      position: relative;
    }
    .h2{
      left: -10px;
    }
    .clock{
      left: 10px;
      z-index: 13 !important;
    }
    .Navi{
      padding-top: 18% !important;
    }
    #link1{
      position: absolute;
      top: 40px;
      left: 50px;
    
    }
    #link2{
      position: absolute;
      top: 40px;
    
    }
    #link3{
      position: absolute;
      top: 40px;
      right: -5px;
   
    }
  }
  
  @media(max-width: 550px){
    .clock{
        position: relative;
        top:  -20px;
       left: -20px;
    }
    .h2{
      left: -20px;
    }
    #link4{
      position: absolute;
      left: 10px !important;
      padding-right: 20px;
      padding-top:9px;
      margin-top: 40px;
    }
    #link5{
      position: absolute;
      padding-right: 10px;
      padding-top:9px;
      margin-top: 40px;
    }
    #link6{
      position: absolute;
      right: 10px;
      padding-top:9px;
      margin-top: 40px;
    }
  
  }

  @media(max-width: 520px){
    .Navi{
      position: absolute;
    }
    
    #link1{
      position: absolute;
    }
    #link2{
      position: absolute;
      margin-top: 100px !important;
      margin-right: 230px !important;
    }
    #link3{
      position: absolute;
     
    }
    #link4{
      position: absolute;
      margin-top: 50px !important;
    }
  
  #link5{
    position: absolute;
    margin-top: 165px !important;
    margin-left: 220px !important;
    }
    #link6 {
      position: absolute;
      margin-top: 50px !important;
      margin-right: 30px !important;
      }
  }

  @media(max-width: 500px){
  
    #link2{
      position: absolute;
      margin-top: 92px !important;
 
    }
  
  
  #link5{
    position: absolute;
    margin-top: 165px !important;
    margin-left: 190px !important;
    }

  }

  @media(max-width: 480px){
  
    #link2{
      position: absolute;
     
    }
  
  #link5{
    position: absolute;
    margin-top: 165px !important;
    margin-left: 155px !important;
    }

  }
  @media(max-width: 460px){
  
    #link4{
      position: absolute;
      margin-top: 65px !important;
      margin-left: -18px !important;
    }
  
    #link6 {
      position: absolute;
      margin-top: 65px !important;
      margin-right: -10px !important;
      }
      #link1 {
        position: absolute;
        left: 30px !important;
        }
        #link3 {
          position: absolute;
          right: -.3in !important;
          font-size: 14px;
          }
          #link5{
            margin-left: 240px !important;
            margin-top: 190px !important;
          }

  }

  @media(max-width: 415px){
  
    #link4{
      position: absolute;
      margin-top: 90px !important;
      margin-left: -43px !important;
    }
  
    #link6 {
      position: absolute;
      margin-top: 90px !important;
      margin-right: -23px !important;
      }
      #link1 {
        position: absolute;
        left: 1px !important;
        }
        #link3 {
          position: absolute;
  
          }
          #link5{
            position: absolute;
            margin-top: 190px !important;
            margin-left: 235px !important;
            }
            .clock{
              position: absolute;
              top: 1.3in !important;
              left: 1.8in !important;
            }
            .themeSwitcher {
              left: -30px;
             }
             .logmenu{
              left: -25px;
          
            }
            
  }

  @media(max-width: 380px){
    .link{
      font-size: 14px;
    }
    #link4{
      position: absolute;
      margin-top: 120px !important;
      margin-left: -43px !important;
    }
  
    #link6 {
      position: absolute;
      margin-top: 120px !important;
      margin-right: -23px !important;
      font-size: 14px;
      }
      #link1 {
        position: absolute;
        left: 1px !important;
        }
        #link2{
          position: absolute;
          margin-top: 113px !important;
     
      
        }
        #link3 {
          position: absolute;
  
          }
          #link5{
            position: absolute;
            margin-top: 230px !important;
            margin-left: 220px !important;
            font-size: 14px;
            }
            .clock{
              position: absolute;
              top: 1.5in !important;
              left: 1.6in !important;
          
            }
            .h2{
              left: -30px;
            }
            .themeSwitcher {
             left: -30px;
            }
  }
@media(max-width: 360px){
  #link5{

    margin-top: 237px !important;
    margin-left: 225px !important;

    }
}
  @media(max-width: 340px){
    #link2{
      position: absolute;
      margin-top: 100px !important;
      margin-right: 237px !important;
    }
  }
  /* @media(max-width: 340px){
      .Navi{
        justify-content: center;
        position: absolute;
        display: flex;
        top: 40px !important;
        width: 100%;
        height: 80vh;
        align-items: center;
        text-align: center;
        z-index: 3;
      }
      .clocl,.logo{
       display: none;
      }

      #link1{
        position: absolute;
        left: -10px !important;
      }
      #link2{
        position: absolute;
  
      }
      #link3{
        position: absolute;
        top: 140px;
        left: -130px;
        
      }
      #link4{
        position: absolute;
        margin-top: -240px !important;
        margin-left: -20px !important;
       
      }
      #link5{
        position: absolute;
        top: -65px !important;
        right: 190px;
        display: flex;
        
      }
      #link6{
        position: absolute;
        top: 100px !important;
        right: 151px;
      }
      
  } */


  .Nav{
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    top: 18%;
    width: 100%;
    padding: 0 30px 0 30px;
   
  }
  .Navi{
    justify-content: center;
    position: relative;
    display: flex;
    width: 100%;
    padding-top: 20px;
    align-items: center;
    text-align: center;
    z-index: 10;
    
  }
  .link{
    padding: 0 30px;
    cursor: pointer;
    z-index: 10;
    font-weight: 600;
    font-family: 'Original Surfer', cursive;
    text-shadow: 0 1px 1px var(--text-color-shadow);
    padding: 10px 15px;
    display: inline-block;
    box-shadow: 0 10px 13px rgba(0,0,0,0.2);
    border-radius: 12px;
  }
  .link:focus{
    border-bottom:#fe9d07;
    font-weight: 600;
  }
 
  #link1,#link2,#link3,#link4,#link5,#link6{
    z-index: 10;
  }
  
  #link1{
    color: var(--text-color-a);
  }
  #link2{
    color: var(--text-color-b);
  }
  #link3{
    color: var(--text-color-c);
  }
  #link4{
    color: var(--text-color-d);
  }
  #link5{
    color: var(--text-color-e);
  }
  #link6{
    color: var(--text-color-f);
  }
  
  #link1:hover{
    color: var(--text-color-f);
    border-bottom: 2px solid gray;
    border-left: 2px solid gray;
   transform: scaleY(1.1);
  }
  #link2:hover{
    color: var(--text-color-d);
    border-bottom: 2px solid gray;
    border-left: 2px solid gray;
   transform: scaleY(1.1);
  }
  #link3:hover{
    color: var(--text-color-a);
    border-bottom: 2px solid gray;
    border-left: 2px solid gray;
   transform: scaleY(1.1);
  }
  #link4:hover{
    color: var(--text-color-e);
    border-bottom: 2px solid gray;
    border-left: 2px solid gray;
   transform: scaleY(1.1);
  }
  #link5:hover{
    color: var(--text-color-c);
    border-bottom: 2px solid gray;
    border-left: 2px solid gray;
   transform: scaleY(1.1);
  }
  #link6:hover{
    color: var(--text-color-b);
    border-bottom: 2px solid gray;
    border-left: 2px solid gray;
   transform: scaleY(1.1);
  }

/* 
  BUTT */

  .boxL{
    margin: 15px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items:center;
    width: 50px;
    height: 50px;
    cursor:pointer;
    transition: all .5s ease-in-out;
    border: 3px solid var(--text-color-shadow);
    overflow-wrap: normal;
  }
  .menu{
    margin: 15px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items:center;
  text-align: center;
  width: 50px;
  height: 55px;
  cursor:pointer;
  transition: all .5s ease-in-out;

  }
  
  .menu_burger{
  width: 35px;
  height: 7px;
  background: var(--text-color-secondary);
  right: 7px !important;
  -webkit-text-stroke: .2px var(--text-color-primary);
  text-shadow:
  0 0 10px var(--text-color-shadow),
  0 0 40px var(--text-color-shadow),
 0 0 70px var(--text-color-shadow);
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255,101,47,.2);
  transition: all .5s ease-in-out;
  
  }
  
  .menu_burger::before,
  .menu_burger::after{
    left: 1px;
  content:'';
  position: absolute;
  right: 4px !important;
  width: 35px;
  height: 7px;
  background: var(--text-color-secondary);
  -webkit-text-stroke: .2px var(--text-color-primary);
  text-shadow:
  0 0 10px var(--text-color-shadow),
  0 0 40px var(--text-color-shadow),
 0 0 70px var(--text-color-shadow);
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255,101,47,.2);
  transition: all .5s ease-in-out;
  }
  .menu_burger::before{
  transform: translateY(-12px);
  }
  
  .menu_burger::after{
  transform: translateY(16px);
  }
  
  .menu_man .menu_burger{
        transform: rotate(135deg) translate(1px, 1px);
        box-shadow: none;
        
  }
  .menu_man .menu_burger::before{
    transform: rotate(45deg) translate(-2px, -11px);
    border-radius: 10px 10px 0 0;

  }
  .menu_man .menu_burger::after{
    transform: rotate(45deg) translate(-1px, 11px);
    border-radius: 10px 10px 0 0;
    
  }

  .loginout{
    background-color: var(--primary-color);
    margin: 15px;
    position: relative;
    justify-content: center;
    align-items:center;
    text-align: center;
    width: 50px;
    height: 50px;
    cursor:pointer;
    font-weight: 600;
    color: var(--background-color);
    transition: all .5s ease-in-out;
    border: 3px solid var(--text-color-shadow);
    overflow-wrap: normal;
    cursor: pointer;
    border-radius: 10px;
  }
  .loginout:hover{
    transform: scale(1.1);
    background-color:  var(--text-color);
  }