
.counts {
  margin: 12px 0;
  color: var(--text-color-secondary);
}

.inputContainer {
  position: relative;
  top: 50%;

}
.homeContainer{
  position: relative;
  top: 20%;
}

@media screen and (min-width: 720px) {
  .inputContainer {
    display: flex;
    justify-content: space-between;
  }

  .counts {
    flex: 1;
  }

  .input {
    flex: 2;
  }
}
/* 
NEXT_PUBLIC_API_URL=https://floating-caverns-79489.herokuapp.com/api */